
.active{
  background: green;
  color: white;
  border: 2px solid white;
  transition: 0.7s ease-in-out ;
  
}

body{
  background-image: url("./assets/newimg.jpg");
  width: 100%;
  /* background-size: cover; */
 
}