
.active{
  background: green;
  color: white;
  border: 2px solid white;
  transition: 0.3s ease-in-out;
  margin: 1px;
  border-radius: 2px;
}

body{
  background-image: url("./assets/newimg.jpg");
  width: 100%;
  /* background-size: cover; */
 
}