
.active{
  background: green;
  color: white;
  border: 2px solid white;
  transition: all;
}

body{
  background-image: url("./assets/newimg.jpg");
  width: 100%;
  /* background-size: cover; */
 
}